h2
{
    text-align: bottom;
}
body
{
    background-image: url("media/image.jpeg");
    background-repeat: repeat-y;
    background-size: contain;
    overflow-y: visible;
}

#logo
{
    position: absolute;
    width: 90px;
    padding: 10px;
}

#navigation
{
    padding: 20px;
}

#coaster
{
    image-orientation: from-image;
    width: 100%;
    opacity: 100%;
    margin-bottom: 25px;
}

#construction
{
    margin-top: 2000px;
    text-align: center;
}

#title1
{
    font-size: 60px;
    position: fixed;
    text-align: center;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#title2
{
    /* position: sticky; */
    padding: 50px;
    font-size: 60px;
    text-align: center;
    visibility: hidden;
}

#menubutton
{
    position: fixed;
    z-index: 2;
    right: 0px;
    padding: 20px;
    display: inline-block;
}

#sidebar
{
    position: fixed;
    z-index: 1;     
    width: 25vw;
    height: 100%;
    right: 0;
    background-color: #0c146c; 
    transition: 100ms;
}

#arcade
{
    position: sticky;
    left: 0px;
    top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 100px;
}   


#scrollbox
{
    position: fixed;
    left: 34.5%;
    top: 20vw;
    width: 30vw;
    height: 16vw;
    background-color: pink;
    z-index: 2;
    /* visibility: hidden; */
}

.bar1, .bar2, .bar3
{
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1
{
    background-color: white;
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3
{
    background-color: white;
    transform: translate(0, -11px) rotate(45deg);
}

.menutext
{
    font-size: 3.7vw;
    color: #fff;
    margin-left: 2.3vw;
    margin-top: 1vw;
}

.nav-link:hover
{
color: lightcoral;
}  
