#title1
{
    font-size: 60px;
    position: fixed;
    text-align: center;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#title2
{
    position: sticky;
    top: 20px;
    font-size: 60px;
    text-align: center;
    visibility: hidden;
}
h2
{
    text-align: bottom;
}
body
{
    background-image: url("media/image.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
}

#coaster
{
    position: relative;
    width: 100%;
    opacity: 100%;
    margin-bottom: 75px;
}

.textcenter
{
    margin-top: 1500px;
    text-align: center;
}

#logo
{
    position: absolute;
    width: 90px;
    padding: 10px;
}

#navigation
{
    padding: 20px;
}

.menubar
{
    position: relative;
    flex-grow: 1;
    top: 30px;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }